language: julia

os:
  - linux
  - osx

julia:
  - 0.6
  - nightly

notifications:
  email: false

# https://github.com/travis-ci/travis-ci/issues/4942 workaround
git:
  depth: 99999

after_success:
  - julia -e 'include(Pkg.dir("DocStringExtensions", "test", "coverage.jl"))'
  - julia -e 'Pkg.add("Documenter"); Pkg.checkout("Documenter")'
  - julia -e 'include(Pkg.dir("DocStringExtensions", "docs", "make.jl"))'
